@charset "UTF-8";
@font-face {
    font-family: "bk";
    src: url("fontes/Insanibc.ttf")format("truetype");
}
body{
    background-color: whitesmoke;
}
.cabecalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.menu a{
    margin: 30px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
main{
    margin: 150px;
}
.titulo-principal-h1{
    font-weight: -500;
    font-size: 40px;
    font-family: 'bk';
}
.paragrafo-principal{
    text-align: justify;
    font-weight: 500;
    font-size: 17px;
}
.imagem-principal{
    position: absolute;
    left: 55%;
    top: 27%;
}
.botao{
    background-color: #eead2d;
    padding: 7px;
    border-radius: 10px;
    font-weight: 700;
}
.botao:hover{
    background-color: #e0a93b;
}
.imagens-inferiores{
    display: inline-block;
    width: 110px;
    height: 90px;
    border-radius: 10px;
    margin: 50px 15px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagens-inferiores:hover{
    border: 3px solid #e0a93b;
    box-shadow: 1px 3px 5px black;
    box-sizing: border-box;
    transform: translate(-1px, -1px);
    transition: transform .2s, border .5s;
}
div#imagem1{
    background-image: url("Imagens/lanche01.png");
}
div#imagem2{
    background-image: url("Imagens/lanche02.png");
}
div#imagem3{
    background-image: url("Imagens/lanche03.png");
}
div#imagem4{
    background-image: url("Imagens/lanche04.png");
}
div#imagem5{
    background-image: url("Imagens/lanche05.png");
}
div#imagem6{
    background-image: url("Imagens/lanche06.png");
}
footer{
    text-align: center;
    background-color: #e0a93b;
    padding: 10px;
}
footer a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}